<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.member.impl.memberimpl.mapper.TestMapper">
    <select id="getuser" resultType="com.hp.member.api.memberapi.entity.TestUser">
        SELECT NAME ,PASSWORD FROM TESTUSER
    </select>
</mapper>